<footer>
    <div class="container d-flex justify-content-center fixed-bottom">
        <p class="footer-message"><a class="footer-link" href="https://github.com/mollycarroll/travel-list">View on GitHub</a>. © Molly Carroll 2021</p>
    </div>
</footer>