<header>
    <h1>Travelist</h1>
    <ul>
      <li><a href="/#"><button class="button">Product Index</button></a></li>
      <li><a class="create" href="/#"><button class="button">Create a New Product</button></a></li>
    </ul>
  </header>