<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <%- include ('../partials/header.ejs') %>

<div class="d-flex justify-content-around">
    <img class=" map-img" src="https://i.imgur.com/kSjqhbT.jpg">

    <ul>
        <% for (let i = 0; i < allPlaces.length; i++) { %>
            <li>
                <a href="/places/<%=allPlaces[i].id%>"><%= allPlaces[i].city %></a>
            </li>
        <% } %>
    </ul>
</div>


</body>
</html>