<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <%- include ('../partials/header.ejs') %>
    
    <ul>
        <% for (let i = 0; i < allPlaces.length; i++) { %>
            <li>
                <a href="/places/<%=allPlaces[i].id%>"><%= allPlaces[i].city %></a>
            </li>
        <% } %>
    </ul>
</body>
</html>