<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <%- include ('../partials/header.ejs') %>

    <div class="container new-edit-container">
        <div class="row centered-row align-items-center justify-content-around">
            <div class="col d-flex justify-content-center">
                <form action="/places" method="POST">
                    City: <input type="text" name="city" id="city" /><br/><br/>
                    Country: <input type="text" name="country" id="country" /> <br/><br/>
                    Image URL: <input type="text" name="img" id="img" /><br/><br/>
                    Visited? <input type="checkbox" name="visited" id="visited" /><br/><br/>
                    <input type="submit" name="" value="New Entry"/>
                    </form>
            </div>
            </div>
          </div>
</body>
</html>
