/* * {
    border: 1px solid black;
} */

/* colors: */

body {
    background-color: #c5a181;
    background-image: url("notebook.png");
}

.navbar-nav {
    margin-left: auto;
}

.map-img {
    width: 50%;
}

.show-img {
    width: 70%;
}

.show-container {
    background-color: #B9314F;
    border-radius: 20px;
    padding: 2%;
    margin-top: 5%;
}

.show-place-name {
    text-align: center;
    color: #ffffff;
}

.show-buttons {
    background-color: #1B1B3A;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

/* figure {
    width: 200px;
    overflow: hidden; 
    object-fit: cover;
    margin: 0;
 }

 figure img {
    display: block; 
    width: 100%; 
 }

.index-card {
    background-color: darkgoldenrod;
    padding: 5%;
    width: 300px;
} */