/* * {
    border: 1px solid black;
} */

/* colors: https://coolors.co/c5a181-1b1b3a-b9314f-43aa8b-6699cc */

body {
    background-color: #c5a181;
    background-image: url("notebook.png");
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #43AA8B;
}

.navbar-nav {
    margin-left: auto;
}

.map-img {
    width: 50%;
}

.container {
    width: 70%;
    margin-top: 10%;
}

.home-card {
    margin-top: 5%;
    transition: top 4s;
}

.home-card:hover {
    top: -10px;
}

.show-img {
    width: 70%;
}

.show-container {
    background-color: #B9314F;
    border-radius: 20px;
    padding: 2%;
    margin-top: 5%;
}

.show-place-name {
    text-align: center;
    color: #ffffff;
}

.show-buttons {
    background-color: #1B1B3A;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.new-edit-container {
    background-color: #6699CC;
    border-radius: 20px;
    padding: 2%;
    margin-top: 5%;
}
