/* * {
    border: 1px solid black;
} */

/* colors: https://coolors.co/c5a181-69626d-0a8754-2ab7ca-020100 */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
    background-color: #c5a181;
    background-image: url("notebook.png");
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #000000;
}

h1, h2 {
    font-family: 'Merriweather', serif;
}

.m-font {
    font-family: 'Merriweather', serif;
}

.navbar-nav {
    margin-left: auto;
}

.container {
    width: 70%;
    margin-top: 10%;
}

.home-card {
    margin-top: 5%;
    font-family: 'Merriweather', serif;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
}

.transition {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.show-img {
    width: 70%;
}

.show-container {
    background-color: #69626D;
    border-radius: 20px;
    padding: 2%;
    margin-top: 5%;
}

.show-place-name {
    text-align: center;
    color: #ffffff;
}

.show-buttons {
    background-color: #1B1B3A;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.new-edit-container {
    background-color: #69626D;
    border-radius: 20px;
    padding: 2%;
    margin-top: 5%;
    width: 50%;
}

.footer-link {
    text-decoration: underline;
}

.footer-link:hover {
    color: #218380;
}

.test {
    background-color: crimson;
}